<hr class="hr-line">
<h3 class="title">
    <a class="btn zoombtn" href="{{ site.url }}/sobre/">
        <i class="fas fa-landmark"></i> Sobre
    </a>
    <a class="btn zoombtn" href="{{ site.url }}/posts/">
        <i class="fas fa-blog"></i> Postagens
    </a>
    <a class="btn zoombtn" href="{{ site.url }}/guias/">
        <i class="fas fa-book"></i> Guias
    </a>
    <a class="btn zoombtn" href="{{ site.url }}/links/">
        <i class="far fa-bookmark"></i> Links
    </a>
    <a class="btn zoombtn" href="{{ site.url }}/projetos/">
        <i class="fas fa-project-diagram"></i> Projetos
    </a>
</h3>